<!DOCTYPE html>
<html>
<head>
<title>yui</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta charset="utf-8"/><meta name="renderer" content="webkit">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" href="../css/yui.css"/>
</head>
<body>
	<div class="page-wrapper">
		<div class="header"><a href="../index.html" class="icon-return"></a>switch</div>
		<div class="container">
			<h2 class="yui-title">开关切换（无文字说明）</h2>
			<ul class="list">
				<li class="list-item yui-switch-cell">
					<label class="list-label">状态：<span class="switch-val">true</span></label>
					<div class="list-text">
						<div class="yui-switch yui-switch-mini pull-right in">
							<div class="yui-switch-handle"></div>
						</div>
					</div>
				</li>
				<li class="list-item yui-switch-cell">
					<label class="list-label">状态：<span class="switch-val">false</span></label>
					<div class="list-text">
						<div class="yui-switch yui-switch-mini pull-right">
							<div class="yui-switch-handle"></div>
						</div>
					</div>
				</li>
				<li class="list-item yui-switch-cell">
					<label class="list-label">状态：<span class="switch-val">true</span></label>
					<div class="list-text">
						<div class="yui-switch pull-right in">
							<div class="yui-switch-handle"></div>
						</div>
					</div>
				</li>
				<li class="list-item yui-switch-cell">
					<label class="list-label">状态：<span class="switch-val">false</span></label>
					<div class="list-text">
						<div class="yui-switch pull-right">
							<div class="yui-switch-handle"></div>
						</div>
					</div>
				</li>
			</ul>
			<h2 class="yui-title">开关切换（带文字说明）</h2>
			<ul class="list">
				<li class="list-item yui-switch-cell">
					<label class="list-label">状态：<span class="switch-val">true</span></label>
					<div class="list-text">
						<div class="yui-switch yui-switch-cont pull-right in">
							<div class="yui-switch-handle"></div>
						</div>
					</div>
				</li>
				<li class="list-item yui-switch-cell">
					<label class="list-label">状态：<span class="switch-val">false</span></label>
					<div class="list-text">
						<div class="yui-switch yui-switch-cont pull-right">
							<div class="yui-switch-handle"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
<script type="text/javascript" src="../js/require.js" data-main="../js/main"  defer async="true"></script>
</body>
</html>
