<!DOCTYPE html>
<html>
<head>
<title>yui</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta charset="utf-8"/><meta name="renderer" content="webkit">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" href="../css/yui.css"/>
</head>
<body>
	<div class="page-wrapper">
		<div class="header"><a href="../index.html" class="icon-return"></a>tabs</div>
		<div class="container">
			<h2 class="yui-title">tabs</h2>
			<ul class="list">
				<a href="topTabs.html"><li class="list-item"><label class="list-label">topTabs</label><p class="list-text">查看&gt;&gt;</p></li></a>
				<a href="footerTabs.html"><li class="list-item"><label class="list-label">footerTabs</label><p class="list-text">查看&gt;&gt;</p></li></a>
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/require.js" data-main="../js/main"  defer async="true"></script>
</html>
