<!DOCTYPE html>
<html>
<head>
<title>yui</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta charset="utf-8"/><meta name="renderer" content="webkit">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
<meta content="telephone=no" name="format-detection"/>
<link rel="stylesheet" type="text/css" href="../css/yui.css"/>
</head>
<body>
	<div class="page-wrapper">
		<div class="header"><a href="../index.html" class="icon-return"></a>typography</div>
		<div class="container">
			<h2 class="yui-title">文字排版</h2>
			<div class="box">
				<p class="h1">h1.heading</p>
				<p class="h2">h2.heading</p>
				<p class="h3">h3.heading</p>
				<p class="h4">h4.heading</p>
				<p class="h5">h5.heading</p>
				<p class="h6">h6.heading</p>
				<p>p.yui框架</p>
			</div>
		</div>
	</div>
<script type="text/javascript" src="../js/require.js" data-main="../js/main" defer async="true"></script> 
</body>
</html>
